body{
    background-color:lightpink;
    height: 100vh;
}

h2 {
    color:lightblue;
}
h3 {
    color: magenta;
    font-size: 35px;
}
p{
    padding:5px;
}

.centerAll{
    justify-content: center;
    text-align: center;
}
.detsBody{
    text-align: center;
    padding: 8px;
}

.detsHead{
    font-size:20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.sibel-container{
    background-color: #343a40;
    padding:15px;
}

.sibel-photo{
    border-radius: 20px;
    float:left;
    margin:3px;
    max-height:300px;
    max-width: 300px;
    padding-right:5px;
}

#confirmMail{
    display: none;
}

#contactLinks{
    border-radius: 20px;
    color:whitesmoke;
    max-height: 85%;
}

#sibel-jumbo{
    text-align: center;
}

.contactText {
    font-size:35px;
    color: magenta;

}
.contactText2 {
    font-size:35px;
    color: purple;

}
.row1 {
    margin-top: 75px;
    
    justify-content: center;
}
